body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}


.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}


.quiz {
    display: block;
    padding: 20px;
    text-align: center;
}

h1, h2, p {
    text-align: center;
}

.options {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.option {
    margin: 10px 0;
    cursor: pointer;
}

.option:hover {
    background-color: #333;
}

.option.correct {
    background-color: #4CAF50;
}

.option.incorrect {
    background-color: #F44336;
}

#next-button {
    display: none;
}

.result {
    text-align: center;
    display: none;
}

.fade-effect {
    animation: fade 2s;
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}